*{
    text-decoration: none;
}
.basis{
    width: 700px;
    margin: auto;
}
.title{
    width: 500px;
    color: maroon;
}
.section{
    width: 560px;
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
    margin: 30px 0 50px;
}
.nav{
    list-style-type: none;
    display: flex;
    width: 300px;
    justify-content: space-between;

}
